<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.strategicnerds.cocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>views/login/LoginViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>login</string>
			</array>
			<key>Path</key>
			<string>views/login/LoginViewController.h</string>
		</dict>
		<key>views/login/LoginViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>login</string>
			</array>
			<key>Path</key>
			<string>views/login/LoginViewController.m</string>
		</dict>
		<key>views/login/LoginViewController.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>login</string>
			</array>
			<key>Path</key>
			<string>views/login/LoginViewController.xib</string>
		</dict>
		<key>views/profile/ProfileViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>profile</string>
			</array>
			<key>Path</key>
			<string>views/profile/ProfileViewController.h</string>
		</dict>
		<key>views/profile/ProfileViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>profile</string>
			</array>
			<key>Path</key>
			<string>views/profile/ProfileViewController.m</string>
		</dict>
		<key>views/profile/ProfileViewController.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>profile</string>
			</array>
			<key>Path</key>
			<string>views/profile/ProfileViewController.xib</string>
		</dict>
		<key>views/profile/ProfileCell.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>profile</string>
			</array>
			<key>Path</key>
			<string>views/profile/ProfileCell.h</string>
		</dict>
		<key>views/profile/ProfileCell.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>profile</string>
			</array>
			<key>Path</key>
			<string>views/profile/ProfileCell.m</string>
		</dict>
		<key>views/profile/ProfileCell.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>views</string>
				<string>profile</string>
			</array>
			<key>Path</key>
			<string>views/profile/ProfileCell.xib</string>
		</dict>
		<key>images/Default.png</key>
		<dict>
			<key>Group</key>
			<string>images</string>
			<key>Path</key>
			<string>images/Default.png</string>
		</dict>
		<key>images/Default@2x.png</key>
		<dict>
			<key>Group</key>
			<string>images</string>
			<key>Path</key>
			<string>images/Default@2x.png</string>
		</dict>
		<key>images/Default-568h@2x.png</key>
		<dict>
			<key>Group</key>
			<string>images</string>
			<key>Path</key>
			<string>images/Default-568h@2x.png</string>
		</dict>
		<key>images/Profile@2x.png</key>
		<dict>
			<key>Group</key>
			<string>images</string>
			<key>Path</key>
			<string>images/Profile@2x.png</string>
		</dict>
		<key>images/Profile.png</key>
		<dict>
			<key>Group</key>
			<string>images</string>
			<key>Path</key>
			<string>images/Profile.png</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template is provided by Facebook as a starting point for an iOS application. It uses Facebook Login, sets up a simple tab view controller, and adds all of the necessary configuration files.</string>
	<key>Identifier</key>
	<string>com.strategicnerds.BasicTemplate-iOS6</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>Info.plist</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
		<string>views/login/LoginViewController.h</string>
		<string>views/login/LoginViewController.m</string>
		<string>views/login/LoginViewController.xib</string>
		<string>views/profile/ProfileCell.h</string>
		<string>views/profile/ProfileCell.m</string>
		<string>views/profile/ProfileCell.xib</string>
		<string>views/profile/ProfileViewController.h</string>
		<string>views/profile/ProfileViewController.m</string>
		<string>views/profile/ProfileViewController.xib</string>
		<string>images/Default.png</string>
		<string>images/Default@2x.png</string>
		<string>images/Default-568h@2x.png</string>
		<string>images/Profile.png</string>
		<string>images/Profile@2x.png</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -all_load -lsqlite3.0</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>$(BUILT_PRODUCTS_DIR)/usr/local/include</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>